.about{
    height: 350px;
    width: 350px;
    /* border: 1px black solid; */
    position: relative;
    top: 350px;
    left: 450px;
    border-radius: 200px;
  }
  .about>img{
    height: 350px;
    width: 350px;
    border-radius: 200px;
  }
  .about2{
    height: 600px;
    width: 50vw;
    /* border: 1px black solid; */
    position: relative;
    top: 400px;
    left: 450px;
  }
  .about2>h1{
    /* position: absolute; */
    /* top: 4vh; */
    /* left: 4vw; */
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
    /* padding-bottom: 30px; */
  }
  .about2>p{
    /* position: absolute; */
    background: transparent;
    font-size:17px;
    text-align: left;
    padding-top: 50px;
    line-height: 4vh;
    font-family: Arial, Helvetica, sans-serif;
  }
  .hd2{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
    padding-top: 40px;
  }
  .text{
    height: 120px;
    width: 50vw;
    /* border: 1px black solid; */
    position: absolute;
    top: 400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .t2{
    height:20px;
    width:230px;
    /* border: 1px black solid; */
    display: flex;
    align-items: center;
  }
  .t2>i{
    color: red;
    font-size: 18px;
  }
  .t2>p{
    font-size: 17px;
    padding-left: 20px;
  }